<div class="card">
    <div class="card-header">
        Editar curso
    </div>
    <div class="card-body">
        <form [formGroup]="formDelCurso" (ngSubmit)="sendData()">
            
            <div class="mb-3">
              <label for="" class="form-label">Curso:</label>
              <input formControlName="Nombre" type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            </div>

            <div class="mb-3">
              <label for="" class="form-label">Fecha de inicio del curso:</label>
              <input formControlName="FechaDeInicioDelCurso" type="date"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            </div>

            <div class="mb-3">
              <label for="" class="form-label">Fecha de fin del curso:</label>
              <input formControlName="FechaDeFinDelCurso" type="date"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            </div>
            
            <div class="btn-group" role="group" aria-label="">
                <button type="submit" class="btn btn-success">Agregar</button>
                <button type="button" class="btn btn-primary">Cancelar</button>
            </div>
        </form>

    </div>
</div>