<div class="card">
    <div class="card-header">
        Editar curso
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
              <label for="" class="form-label">Curso:</label>
              <input type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el nombre del curso">
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Fecha de inicio del curso:</label>
              <input type="date"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Fecha de fin del curso:</label>
              <input type="date"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            </div>
            <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-success">Agregar</button>
                <button type="button" class="btn btn-primary">Cancelar</button>
            </div>
        </form>

    </div>
</div>