<div class="card">
    <div class="card-header">
        Cursos
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cursos</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha de fin</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let curso of Cursos; let iControl=index">
                    <td>{{curso.id}}</td>
                    <td>{{curso.Nombre}}</td>
                    <td>{{curso.FechaDeInicioDelCurso}}</td>
                    <td>{{curso.FechaDeFinDelCurso}}</td>
                    <td>
                        <a class="btn btn-info"  routerLink="/edit-curso/{{curso.id}}">Editar</a>
                        
                        <a class="btn btn-danger" (click)="deleteCurso(curso.id, iControl)" role="button">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>