<div class="card">
    <div class="card-header">
        Cursos
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cursos</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha de fin</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>9</td>
                    <td>Ingles</td>
                    <td>25/06/22</td>
                    <td>30/06/22</td>
                    <td>
                        <a routerLink="/edit-curso/1">Editar</a>
                        <a >Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>